# Core Dependencies
streamlit==1.39.0
opencv-python-headless==4.10.0.84
numpy==1.26.4
pillow==10.4.0

# Machine Learning
torch==2.4.1
torchvision==0.19.1
ultralytics==8.3.0

# OCR
easyocr==1.7.1
albumentations==1.4.10

# Utilities
python-dotenv==1.0.1
